<%- include('../partials/header') %>

<section id="show-page">
    <div style="font-size: 20px;">Airline:</div>
    <div><%= flight.airline %></div>
    <div style="font-size: 20px;">Airport: </div>
    <div><%= flight.airport %></div>
    <div style="font-size: 20px;">Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div style="font-size: 20px;">Departure: </div>
    <div><%= flight.departs %></div>
    <div style="font-size: 20px;">Destination: </div>
    <div><%= flight.destinations %></div>
</section>